.Rproj.user
.Rhistory
.RData
.Ruserdata
~$B dive behaviour.docx
RFB_Diving_Data
RFB_Diving_Plots
RFB dive behaviour.docx
~WRL1785.tmp
RFB dive behaviour - rough notes.docx
~WRL4033.tmp
~WRL3754.tmp
~$B dive behaviour - rough notes.docx
~WRL0005.tmp
.Rhistory (HPspectrex3601's conflicted copy 2023-03-13)
~WRL0585.tmp
